<!DOCTYPE html>
<html>
<head>
	    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--bootstap css link-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
	
	{%if name%}
		<title>Fakebook - {{name}}</title>
	{%else%}
		<title>Fakebook<title>
	{%endif%}
</head>

<nav class="navbar navbar-light  navbar-expand-lg">
	<h1 id="facebook_header">fakebook</h1>
	<div class="container">
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('home')}}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('about')}}">About</a>
      </li>
	</div>

	<div class="container">
	<ul class="navbar-nav mt-2 mt-lg-0 mr-sm-2">
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('sign_in')}}">Sign In </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('sign_up')}}">Sign Up</a>
      </li>
	</div>
    
</nav>

	<div class="container">
		<div>
			{%with messages = get_flashed_messages(with_categories=true)%}
				{%if messages%}
					{%for category, message in messages%}
						<div class="alert alert-{{category}}">{{message}}</div>
					{%endfor%}
				{%endif%}
			{%endwith%}
		</div>
		{%block content%}
		{%endblock%}
	</div>
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>